<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_LEVEL" value="INFO" />
    <property name="LOG_PATH" value="log" />
    <property name="LOG_FILE" value="project_manager.log" />
    <property name="LOG_HISTORY" value="project_manager.%d{yyyy-MM-dd}.log" />
    <!--日志输出到控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!--日志输出到文件-->
    <springProfile name="!dev">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/${LOG_FILE}</file>
            <encoder>${FILE_LOG_PATTERN}</encoder>
            <rollingPolicy name="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${LOG_HISTORY}</fileNamePattern>
                <maxhistory>30</maxhistory>
            </rollingPolicy>
        </appender>
    </springProfile>
    <!--开发环境打印到控制台-->
    <springProfile name="dev">
        <logger name="com.youxue.project" level="INFO" />
        <root level="${LOG_LEVEL}">
             <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>